*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans serif;
}

header {
  /* border-bottom: 1px solid #E2E8F0; */
  /* height: 10vh; */
  width: 100%;
  /* background-color: #482ff7; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  /* padding: 1rem 1.5rem; */
}

/* .hamburger {
  display: none;
} */

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-item {
  margin: 2.5rem 0;
}

.nav-menu.active {
  left: 0;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #91B5A9;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  /* color: #482ff7; */
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
}


.ball {
   position: absolute;
   border-radius: 100%;
   opacity: 0.7;
}

#ambient {
   overflow:hidden; 
   position:absolute; 
   width:99%; 
   height:100vh;
}

.nav-bar {
   height: 10%;
}

#landing {
   padding: 15% 0;
   display: flex;
   align-items: center;
   height: 90%;
}

#greetings {
   /* text-align: center; */
   font-family: 'Monoton', cursive;
}

#greetings:hover {
   animation: animateColors 1s infinite;
}

.work-desc, .about-desc {
  display: flex;
  align-items: center;
  /* height: 400px; */
  /* padding-left: 10rem; */
  /* border: 2px solid #006100; */
}

.abstract-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abstract-container .app-img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center
}

/* size of second image */
.abstract-container .app-img>img {
  width: 100%;
}

.abstract-container .background {
  width: 100%;
}

/* .btn .btn-outline-dark .btn-sm {
  width: 50px;
  border-radius: 5px;
} */

/* #bg-abstract1 {
  background-image: url(../images/abstract-shape1.png);
  height: 20vh;
	display: flex;
	align-items: center;
	color: #fff;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center bottom;
  z-index: 1;
}

#bg-abstract2 {
  background-image: url(../images/abstract-shape2.png);
} */

.tech-stack {
	height: 60px;
	margin-top: 15px;
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;
}

#html {
	background-image: url("../images/html5-logo.png");
}

#css {
	background-image: url("../images/css-logo.png");
}

#js {
	background-image: url("../images/js-logo.png");
}

#ts {
	background-image: url("../images/typescript-logo.png");
}

#gitlab {
	background-image: url("../images/gitlab.png");
}

#nextjs {
	background-image: url("../images/nextjs.png");
}

#bootstrap {
	background-image: url("../images/bootstrap.png");
}

#react {
	background-image: url("../images/react.png");
}

#angular {
	background-image: url("../images/angular-logo.png");
}

#nodejs {
	background-image: url("../images/nodejs.png");
}

#expressjs {
	background-image: url("../images/expressjs.png");
}

#mongodb {
	background-image: url("../images/mongodb.png");
}

#postman {
	background-image: url("../images/postman.png");
}

#robo3t {
	background-image: url("../images/robo3t.png");
}

@keyframes animateColors {
   0% { color: #E8A87C; }
   30% { color: #C38D9E; }
   70% { color: #85DCB2; }
   100% { color: #41B3A3; }
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:500;
}
[type="submit"]:hover { background:#CC4949; }


footer {
	text-align: center;
}

#footer-span {
	display: inline-flex;
  align-self: flex-end;
}

.footer-icon {
	margin: 10px;
  align-self: flex-end;
}

footer p {
	color: #f0f0f0;
  
}

.about-row{
  display: flex;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 360px) {
  /* .work-container {
    height: 200vh; 
    width: 100%;
    background-color:#91B5A9;
  } */

  h1 {
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;
 }
 
 h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 40px;
  letter-spacing: 10px;
  word-spacing: 5px; 
}

 h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  letter-spacing: 2px;
  word-spacing: 2px;
}
 
 p {

 }

 /* .about-row{
  flex-direction: row-reverse;
} */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* .work-container {
    height: 130vh; 
    width: 100%; 
    background-color:#91B5A9;
  } */

  h1 {
    font-size: 60px;
    letter-spacing: 20px;
    word-spacing: 10px;
 }
 
 h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 60px;
    letter-spacing: 20px;
    word-spacing: 10px; 
 }

 h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  letter-spacing: 5px;
  word-spacing: 2px;
  }
 
 p {
    /* font-size: 2vmin; */
 }

 .work-row, .about-row {
  padding-left: 10rem;
  padding-right: 10rem;
  }



}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {









}

/*Waves*/

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
}
/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

/*Other*/

.unique-color-dark {
  background-color: #7289da !important;
}

.bg-light {
  background-color: #7289DA !important;
}

.navbar-brand {
  color: white;
}

.custom-color {
  background-color: #7289DA !important
}


p {
  /* font-size: 2vmin; */
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}