*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans serif;
}

#my-logo {
   margin: 2vh;
}

.wrapper{
   position: fixed;
   text-align: center;
   top: 0;
 /*   left: -100%; */
   right: -100%;
   height: 100%;
   width: 100%;
   background: #000;
   /* background: linear-gradient(90deg, #f92c78, #4114a1); */
   background: linear-gradient(375deg, #1cc7d0, #2ede98);
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
   transition: all 0.6s ease-in-out;
 }

#active:checked ~ .wrapper{
   /*left: 0;*/
   right:0;
}

.menu-btn {
   position: absolute;
   z-index: 2;
   right: 20px;
   /*left: 20px; */
   top: 20px;
   height: 50px;
   width: 50px;
   text-align: center;
   line-height: 50px;
   border-radius: 50%;
   font-size: 20px;
   cursor: pointer;
   color: #fff;
   background: linear-gradient(90deg, #f92c78, #4114a1);
   background: linear-gradient(375deg, #1cc7d0, #2ede98);
 /*  background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
   transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid #000;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
  transform: translateY(-8px);
}

.menu-btn:after {
  transform: translateY(8px);
}

.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}

#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #fff;
}

#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #fff;
}

.wrapper ul {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  height: 10%;
  margin: 15px 0;
}

.wrapper ul li a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  /* background: #fff; */
   background: linear-gradient(#14ffe9, #1cc7d0, #ff00e0);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}

.wrapper ul li a:hover {
  color: #e7cf44;
}

input[type="checkbox"] {
  display: none;
}

/* .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
} */

/* .content .title {
  font-size: 40px;
  font-weight: 700;
} */

/* .content p {
  font-size: 35px;
  font-weight: 600;
} */

#active:checked ~ .wrapper ul li a {
  opacity: 1;
}

.wrapper ul li a {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}

#active:checked ~ .wrapper ul li a {
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1);
   /* transition-delay: .6s; */
  transform: translateX(-100px);
}



.ball {
   position: absolute;
   border-radius: 100%;
   opacity: 0.7;
}

#ambient {
   overflow:hidden; 
   position:absolute; 
   width:99%; 
   height:100vh;
}

.nav-bar {
   height: 10%;
}

#landing {
   padding: 15% 0;
   display: flex;
   align-items: center;
   height: 90%;
}

#greetings {
   /* text-align: center; */
   font-family: 'Monoton', cursive;
}

#greetings:hover {
   animation: animateColors 1s infinite;
}



.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work-img {
  max-width:100%;
  height:auto;
}

@keyframes animateColors {
   0% { color: #E8A87C; }
   30% { color: #C38D9E; }
   70% { color: #85DCB2; }
   100% { color: #41B3A3; }
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:500;
}
[type="submit"]:hover { background:#CC4949; }


footer {
	text-align: center;
}

#footer-span {
	display: inline-flex;
  align-self: flex-end;
}

.footer-icon {
	margin: 10px;
  align-self: flex-end;
}

footer p {
	color: #f0f0f0;
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 360px) {
  /* .work-container {
    height: 200vh; 
    width: 100%;
    background-color:#91B5A9;
  } */

  h1 {
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;
 }
 
 h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 40px;
  letter-spacing: 10px;
  word-spacing: 5px; 
}

 h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  letter-spacing: 2px;
  word-spacing: 2px;
}
 
 p {
 }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* .work-container {
    height: 130vh; 
    width: 100%; 
    background-color:#91B5A9;
  } */

  h1 {
    font-size: 60px;
    letter-spacing: 20px;
    word-spacing: 10px;
 }
 
 h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 60px;
    letter-spacing: 20px;
    word-spacing: 10px; 
 }

 h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  letter-spacing: 5px;
  word-spacing: 2px;
}
 
 p {
    /* font-size: 2vmin; */
 }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*Waves*/

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
}
/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

/*Other*/

.unique-color-dark {
  background-color: #7289da !important;
}

.bg-light {
  background-color: #7289DA !important;
}

.navbar-brand {
  color: white;
}

.custom-color {
  background-color: #7289DA !important
}


p {
  /* font-size: 2vmin; */
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}